################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AsyncTask/bin/Debug
/AsyncTask/obj
